<app-slider [items]="upcomingMovies"></app-slider>
<!-- <app-card-list [title]="'Popular Movies'" [items]="popularMovies" ></app-card-list> -->
<app-card-list [title]="'Trending Movies'" [items]="trendingMovies"></app-card-list>
<app-card-list [title]="'Top rated Movies'" [items]="topRatedMovies"></app-card-list>
<app-card-list [title]="'Trending TV Shows'" [items]="trendingTvShows" [isTvShow]="true"></app-card-list>
<app-card-list [title]="'Popular TV Shows'" [items]="popularTvShows" [isTvShow]="true"></app-card-list>
